<div class="center hero-unit">
  
	
	<%= link_to image_tag("kumonlogo.png", alt: "kumon"), '"http://www.kumon.com/' %>

  <h2>
    Welcome to 
    <a href="http://www.kumon.com/">Kumon</a>
    Online Tutoral.
  </h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>

